# Node modules
node_modules/

# Environment variables
.env

# Python virtualenv & caches
venv/
__pycache__/
*.pyc

# Uploaded / temp audio
uploads/
*.webm
temp_audio.*

# Logs
logs
*.log

# System files
.DS_Store
Thumbs.db
